Repository apache/openwhisk-website, pull requests merged in 2018-11, with the labels that each got.

#345 Update contributor section to ref. how to add runtimes
  _layouts/documentation.html
Labels: documentation, wip

#344 updates to the website for Go Actions
  _includes/code/hello.go
  _includes/code/manifest-for-helloGo.yaml
  _layouts/documentation.html
Labels: documentation

#348 Update Action documentation sections and prioritize Developer role
  _includes/index/index.js
  _layouts/documentation.html
  _scss/_base.scss
  images/illustrations/OW-Abstract Architecture Diagram Banner.png
  images/illustrations/OW-Abstract Architecture Diagram Banner.psd
  images/illustrations/OW-Programming Model.pptx
  images/illustrations/OW-Programming-Model-Horz-Action.png
  images/illustrations/OW-Programming-Model-Horz-Feed.png
  images/illustrations/OW-Programming-Model-Horz-Trigger-Rule.png
  images/illustrations/OW-Programming-Model-Horz.png
  images/illustrations/OW-Programming-Model-Horz.psd
  images/logo/apache-openwhisk-logo-only-square.png
Labels: documentation, review

#350 Adjust Home page and add Swift Action examples
  _includes/code/hello.swift
  _includes/code/manifest-for-helloSwift.yaml
  _includes/index/index.js
  _layouts/community.html
  _layouts/documentation.html
  _layouts/downloads.html
  _layouts/home.html
  _scss/_base.scss
  _scss/_skin.scss
  _scss/_variables.scss
Labels: documentation, review, wip
