Repository apache/openwhisk-website, pull requests merged in 2019-05, with the labels that each got.

#380 Provide context and links to ActionLoop runtime creation
  _layouts/documentation.html
Labels: documentation

#382 Provide more details on release artifacts on download page
  _layouts/documentation.html
  _layouts/downloads.html
  _scss/_base.scss
Labels: documentation, enhancement, review

#383 Add query parm on master CSS import link to force client refresh
  README.md
  _layouts/default.html
Labels: documentation, enhancement, review

#369 Design should not terminate long lines of code.
  _scss/_terminal.scss
Labels: review
